body {
  margin:0px;
  background-image:url('../../images/home/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:510px;
  top:10px;
  width:440px;
  height:50px;
  opacity:0.8;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:660px;
  opacity:0.8;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:670px;
}
#u3 {
  position:absolute;
  left:2px;
  top:322px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:25px;
  top:10px;
  width:105px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:25px;
  top:100px;
  width:125px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:108px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:125px;
  height:1px;
}
#u7 {
  position:absolute;
  left:25px;
  top:150px;
  width:125px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:108px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:125px;
  height:1px;
}
#u8 {
  position:absolute;
  left:25px;
  top:200px;
  width:125px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:108px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:125px;
  height:1px;
}
#u9 {
  position:absolute;
  left:200px;
  top:90px;
  width:750px;
  height:540px;
  opacity:0.8;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:550px;
}
#u10 {
  position:absolute;
  left:2px;
  top:262px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:200px;
  top:140px;
  width:310px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u12 {
  position:absolute;
  left:240px;
  top:160px;
  width:666px;
  height:40px;
  opacity:0.8;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:270px;
  top:162px;
  width:618px;
  height:35px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:35px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:242px;
  top:220px;
  width:666px;
  height:40px;
  opacity:0.8;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:272px;
  top:222px;
  width:611px;
  height:35px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:35px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:240px;
  top:280px;
  width:666px;
  height:40px;
  opacity:0.8;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:270px;
  top:282px;
  width:618px;
  height:35px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:35px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:242px;
  top:340px;
  width:666px;
  height:270px;
  opacity:0.8;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:280px;
}
#u25 {
  position:absolute;
  left:2px;
  top:127px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:272px;
  top:342px;
  width:483px;
  height:35px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:35px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:270px;
  top:387px;
  width:439px;
  height:203px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:203px;
}
#u29 {
  position:absolute;
  left:2px;
  top:94px;
  width:435px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:728px;
  top:540px;
  width:162px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:220px;
  top:100px;
  width:179px;
  height:35px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:30px;
  top:170px;
  width:115px;
  height:25px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:25px;
  top:550px;
  width:125px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:108px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:125px;
  height:1px;
}
#u37 {
  position:absolute;
  left:25px;
  top:600px;
  width:125px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:108px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:125px;
  height:1px;
}
#u38 {
  position:absolute;
  left:30px;
  top:570px;
  width:115px;
  height:25px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:30px;
  top:120px;
  width:115px;
  height:25px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:536px;
  top:18px;
  width:389px;
  height:35px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:35px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  white-space:nowrap;
}
